footer {
  margin-top: calc(var(--section-gap) * 2);
  background-color: #181818;
}

footer div.container {
  text-align: justify;
}

footer div.container {
  gap: 4rem;
}

footer div.container form textarea {
  height: 8em;
}