footer {
  margin-top: calc(var(--section-gap));
  background-color: #181818;
}

textarea {
  height: 8em;
}

footer div.container div.row {
  gap: 2rem;
}

footer div.container div.row {
  text-align: justify;
}