:root {
  --galeri-flex: 32%
}

section#galeri div.container div.images {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

section#galeri div.container div.images img {
  flex: var(--galeri-flex);
  width: 33%;
  border-radius: 3px;
}

section#galeri div.container div.images img:not(:nth-child(-n + 6)) {
  display: none;
}

section#galeri div.container div.images-all img:not(:nth-child(-n + 6)) {
  display: block;
}

@media screen and (max-width: 768px) {
  :root {
    --galeri-flex: 49%
  }
}

@media screen and (max-width: 425px) {
  :root {
    --galeri-flex: 100%
  }
}