:root {
  --section-gap: 10rem;
}

html,
body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

section:not(#home) {
  padding-top: var(--section-gap);
}

footer {
  margin-top: calc(var(--section-gap) * 2);
  background-color: #181818;
}

textarea {
  height: 8em;
}

