footer {
    margin-top: 10rem;
    padding-bottom: 0.1rem;
    background-color: #181818;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer hr {
    color: #444444;
}

footer a:hover {
    color: #494949;
}

footer .container .top {
    display: grid;
    grid-template-columns: 50% auto;
}

footer .container .top .side {
    margin: 6rem 4rem 2rem 4rem;
}

footer .container .top .side hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

footer .container .top .side p {
    text-align: justify;
}

footer .container .top h4 {
    margin-top: 10px;
    margin-left: 2rem;
}

footer .container .top .side form #name {
    width: 100%;
    height: 1.5rem;
    margin-top: 5px;
    margin-bottom: 1rem;
}

footer .container .top .side form textarea {
    width: 100%;
    height: 8rem;
    margin-top: 5px;
    margin-bottom: 1rem;
}

footer .container .top .side form button {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

footer .container .top .side form button:hover {
    background-color: #858585;
}

footer .container .bottom {
    text-align: center;
}

footer .container .bottom p {
    margin: 0.4rem;
}

@media screen and (max-width: 600px) {
    footer {
        margin-top: 5rem;
        padding-top: 1rem;
    }

    footer .container .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .container .top .side {
        margin: 2rem;
    }
}