#galery {
    margin-left: 4rem;
    margin-right: 4rem;
}

#galery .container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#galery .container img {
    border: 3px solid white;
    flex: 20%;
    width: 40%;
}