#galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#galery hr {
    width: 90%;
}

#galery .container {
    margin: 1rem 4rem;
    display: flex;
    flex-wrap: wrap-reverse;
}

#galery .container img {
    margin: 3px;
    flex: 30%;
    width: 30%;
}

@media screen and (max-width: 600px) {
    #galery .container {
        margin: 0;
        margin-top: 4px;
        width: 90%;
    }

    #galery .container img {
        flex: 100%;
        width: 100%;
    }
}