#galery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#galery .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    margin-top: 5px;
    border-top: 2px solid gray;
}

#galery .container .images {
    display: flex;
    flex-wrap: wrap;
}

#galery .container .images img {
    margin: 3px;
    flex: 30%;
    width: 30%;
    border-radius: 5px;
}

#galery .container .images img:nth-child(3n) {
    margin-right: 0;
}

#galery .container .images img:nth-child(3n+1) {
    margin-left: 0;
}

#galery .container .images img:nth-of-type(1n+4) {
    display: none;
}

#galery .container div.all-images img:nth-of-type(1n+4) {
    display: inline;
}

#galery .container a {
    padding: 8px;
    margin-top: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid gray;
    color: black;
    font-size: large;
    transition: all 0.3s;
}

#galery .container a:hover {
    background-color: #cfcfcf;
}

@media screen and (max-width: 990px) {
    #galery .container .images img {
        margin: 3px;
        flex: 40%;
    }

    #galery .container .images img:nth-child(3n) {
        margin-right: 3px;
    }
    
    #galery .container .images img:nth-child(3n+1) {
        margin-left: 3px;
    }

    #galery .container .images img:last-child {
        margin-right: 0;
    }

    #galery .container .images img:nth-child(even) {
        margin-right: 0;
    }
    
    #galery .container .images img:nth-child(odd) {
        margin-left: 0;
    }

    #galery .container .images img:nth-of-type(1n+4) {
        display: inline;
    }

    #galery .container .images img:nth-of-type(1n+5) {
        display: none;
    }

    #galery .container div.all-images img:nth-of-type(1n+5) {
        display: inline;
    }
}

@media screen and (max-width: 803px) {
    #galery h2 {
        font-size: 1.4em;
    }
    
    #galery .container {
        width: 85%;
    }
}

@media screen and (max-width: 490px) {
    #galery .container .images img {
        flex: 100%;
        width: 100%;
    }

    #galery .container .images img:nth-child(even) {
        margin-right: 0;
        margin-left: 0;
    }
    
    #galery .container .images img:nth-child(odd) {
        margin-left: 0;
        margin-right: 0;
    }

    #galery .container .images img:nth-of-type(1n+5) {
        display: inline;
    }

    #galery .container .images img:nth-of-type(1n+4) {
        display: none;
    }
}