header {
    height: 37.8rem;
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

header #banner {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    text-align: center;
}

header #banner hr {
    width: 50%;
    color: white;
    margin-bottom: 3px;
}

header #banner img {
    width: 400px;
    height: auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

header #banner #title {
    align-items: center;
}

header #banner #title h1, header #banner #title p {
    color: white;
}

@media screen and (max-width: 600px){
    header {
        height: auto;
        padding-bottom: 5rem;
    }

    header #banner {
        padding-top: 0;
    }

    header #banner img {
        width: 80%;
    }

    header #banner #title {
        margin: 0 1rem 0 1rem;
    }

    header #banner #title h1 {
        font-size: 1.8em;
    }

    header #banner #title hr {
        width: 95%;
        margin-bottom: 5px;
    }
}
