#pengurus-kelas {
    text-align: center;
}

#pengurus-kelas hr {
    width: 90%;
    margin-top: 5px;
}

#pengurus-kelas .container {
    margin: auto 4%;
    display: flex;
}

#pengurus-kelas .container .card {
    margin: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
#pengurus-kelas .container .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#pengurus-kelas .container .card img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: auto;
}

#pengurus-kelas .container .card .card-caption {
    padding: 1rem 1rem;
}

@media screen and (max-width: 600px) {
    #pengurus-kelas .container {
        flex-wrap: wrap;
    }

    #pengurus-kelas .container .card {
        width: 45%;
        flex: 40%;
    }
}